body {
    background-color: #111317;
    color: #ffffff;
    font-family: "Inter";
    font-weight: bold;
}

.error {
    background: #A94442;
    color: #ffffff;
    padding: 10px;
    width: 95%;
    border-radius: 5px;
    margin: 20px auto;
}

.form-control {
    background-color: #2E2F36;
    color: #ffffff;
    border-radius: 30px;
    border: none;
}

input::-moz-placeholder { /* Для Firefox */
    color: red;
}
   
input::-webkit-input-placeholder { /* Для Safari и Chrome */
    color: red;
}

.form-control:focus {
    background-color: #2E2F36;
    color: #ffffff;
    border-radius: 30px;
    border: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
}

.logo_from {
    height: 100px;
    font-size: 40px;
}

.btn {
    background-color: #393B3E;
    color: #ffffff;
    border: none;
}

.btn:focus {
    background-color: #393B3E;
}

.center {
    text-align: center;
}

.wrapper {
    max-width: 400px;
    min-height: 300px;
    margin: 15% auto;
    padding: 40px 30px 30px 30px;
    background-color: #171820;
    border-radius: 15px;
}

.panel_but {
    float: left;
    width: 25%;
    height: 100%;
}

.panel_main {
    float: right;
    width: 75%;
    background-color: #171820;
}

.but_panel_active {
    padding: 10px 20px 10px 10px;
    border-radius: 9px;
    text-decoration: none;
    background-color: #393B3E;
    color: #ffffff;
}

.but_panel {
    padding: 10px 20px 10px 10px;
    text-decoration: none;
    color: #ffffff;
}

.logout {
    width: 250px;
    padding: 10px 20px 10px 10px;
    text-decoration: none;
    color: #ffffff;
}