body {
    background-color: #111317;
    color: #ffffff;
    font-family: "Inter";
    font-weight: bold;
}

a {
    color: #ffffff; 
    text-decoration: none;
}

.error {
    background: #A94442;
    color: #ffffff;
    padding: 10px;
    width: 95%;
    border-radius: 5px;
    margin: 20px auto;
}

.form-control {
    background-color: #2E2F36;
    color: #ffffff;
    border-radius: 30px;
    border: none;
}

input::-moz-placeholder { /* Для Firefox */
    color: red;
}
   
input::-webkit-input-placeholder { /* Для Safari и Chrome */
    color: red;
}

.form-control:focus {
    background-color: #2E2F36;
    color: #ffffff;
    border-radius: 30px;
    border: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
}

.logo_from {
    height: 100px;
    font-size: 40px;
}

.btn {
    background-color: #393B3E;
    color: #ffffff;
    border: none;
}

.btn:focus {
    background-color: #393B3E;
}

.center {
    text-align: center;
}

.wrapper {
    max-width: 400px;
    min-height: 300px;
    margin: 15% auto;
    padding: 40px 30px 30px 30px;
    background-color: #171820;
    border-radius: 15px;
}

.panel_but {
    position: absolute;
    height: 100vh;
    width: 25vw;
    padding: 10px 20px 10px 10px;
    text-decoration: none;
    color: #ffffff;
}

.panel_main {
    min-height: 100vh;
    float: right;
    width: 75vw;
    height: 100vh;
    background-color: #171820;
}

.but_panel_active {
    padding: 10px 20px 10px 10px;
    border-radius: 9px;
    text-decoration: none;
    background-color: #393B3E;
    color: #ffffff;
}

.but_panel {
    text-decoration: none;
    padding: 10px 20px 10px 10px;
    color: #ffffff;
}

.logout {
    height: 50px;
    position: absolute;
    bottom: 5px;
    width: 25vw;
    color: #ffffff;
}

.but_logout {
    margin: 2% auto;
    margin-right: 2%;
    display:inline;
    color: #ffffff;
    float: right;
}

.card {
    background-color: #393B3E;
}
/*CSS CAHT*/

.board_chat{
    /*background-color: #ffffff1c;*/
    min-height: 100vh;
    width: 20vw;
    position: absolute;
}

.body_chat {
    float: right;
    position: sticky;
    border-radius: 9px;
    margin: 1% auto;
    margin-right: 1%;
    background-color: #20242D;
    min-height: 95vh;
    width: 53vw;
}

.box_chat{
    height: 88vh;
    overflow-y: scroll;
}

#box_chat::-webkit-scrollbar {
    width: 10px;
    background-color: none;
  }
  
#box_chat::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #ffffff1a;
}
  
#box_chat::-webkit-scrollbar-track {
    border-radius: 10px;
    height: 100px;
    background-color: #f9f9fd0c;
}

.send_panel_chat {
    float: left;
    margin-left: 5%;
    background-color: #ffffff20;
    border-radius: 9px 0px 0px 9px;
    height: 5vh;
    width: 45vw;
}

.send_but_chat {
    background-color: #ffffff20;
    border-radius: 0px 9px 9px 0px;
    float: left;
    height: 5vh;
    width: 5vh;
}

.global_chat{
    position: sticky;
    border-radius: 9px;
    margin: 5% auto;
    background-color: #20242D;
    width: 90%;
    height: 60px;
}

.user_messege {
    background-color: #575A61;
    border-radius: 0px 9px 9px;
    position: relative;
    float: left;
    width: 25vw;
    margin: 0% 0% 2% 2% ;
    text-align: left;
}

.im_messege {
    background-color: #575A61;
    border-radius: 9px 9px 0px;
    position: relative;
    float: right;
    width: 25vw;
    margin: 0% 2% 2% 0% ;
    text-align: right;
}

.im_messege_date {
    float: right;
    width: 27vw;
    margin: 0% 2% 0% 0% ;
    text-align: right;
    color: #ffffff69;
    font-size: 14px;
}

.user_messege_date {
    float: left;
    width: 27vw;
    margin: 0% 0% 0% 2% ;
    text-align: left;
    color: #ffffff69;
    font-size: 14px;
}

.organizations_panel {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    background-color: #20242D;
    width: 70vw;
    height: 80px;
    align-content: center;
    font-size: 32px;
}
.info_box_conteiner{
    left: 0px;
    width: 75vw;
    height: 100px;
}
.info_box{
    background-color: #20242D;
    width: 21.6vw;
    height: 150px;
    border-radius: 9px;
    float: left;
    display: inline-block;
    margin-left: 35px;
    margin-top: 10px;
    font-size: 24px;
    font-weight: lighter;
    text-align: left;
    padding-left:15px;
    padding-top:20px;
}

.info_but{
    background-color: #20242D;
    width: 21.6vw;
    height: 55px;
    border-radius: 9px;
    float: left;
    display: inline-block;
    margin-left: 35px;
    text-align: right;
}

.info_text_main{
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    margin-top: 25px;
}

.wallet_box{
    background-color: #20242D;
    border-radius: 9px;
    width: 70vw;
    height: 120px;
    margin: 10px auto 10px auto;
    font-size: 24px;
    font-weight: lighter;
    text-align: left;
    padding-left:15px;
    padding-top:10px;
}

.box_days_worked{
    background-color: #20242D;
    border-radius: 9px;
    width: 70vw;
    height: 35vw;
    margin: 10px auto 10px auto;
    font-size: 24px;
    font-weight: lighter;
    text-align: left;
    padding-left:15px;
    padding-top:10px;
}

.days_worked{
    border: 2px solid #32363E;
    border-radius: 9px;
    width: 365px;
    height: 390px;
    margin: 0 auto;
}

.days{
    border: 2px solid #32363E;
    background-color: #32363E;
    display: inline-block;
    border-radius: 9px;
    margin: 5px 5px 0px 5px;
    width: 50px;
    height: 50px;
}

.name_fine{
    display: inline-block;
    width: 22vw;
    height: 120px;
    margin: 0px auto 0px auto;
    position: relative;
    bottom: 70px;
}

.amout_fine{
    display: inline-block;
    width: 22vw;
    height: 120px;
    margin: 0px auto 0px auto;
    position: relative;
    bottom: 40px;
    text-align: center;
}

.reason_fine{
    display: inline-block;
    width: 22vw;
    height: 100px;
    text-align: right;
    overflow-y: scroll;
}

#reason_fine::-webkit-scrollbar {
    background-color: #ffffff00;
}
  
#reason_fine::-webkit-scrollbar-thumb {
    background-color: none;
}
  
#reason_fine::-webkit-scrollbar-track {
    background-color: none;
}

.select_col {
    -webkit-appearance: none;
    border-radius: 9px;
    background: #32363E;
}

.control_box{
    background-color: #ffffff;
    width: 400px;
    border-radius: 9px;
    display: inline-block;
    margin-left: 35px;
    margin-top: 10px;
    font-size: 24px;
    text-align: left;
}

.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}
  
  /* Добавить цвет фона для кнопки, если она нажата (добавить класс .active с JS), а при наведении на него курсора мыши (hover) */
.active, .collapsible:hover {
    background-color: #ccc;
}
  
  /* Стиль складного содержимого. Примечание: скрыто по умолчанию */
.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}